# todo use ignorePatterns in .eslintrc.js instead
.next
__generated__
_next
lib
dist
node_modules
sessions
k8s-*
*.tgx
*.xml
*.jpg
*.png
*.pdf
*.svg
*.lock
*.d.ts
!.eslintrc.js
.cache
admin_local
.tmp
build
coverage
schema-types.ts
**/typechain-types/**
relay-extensions.graphql